.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-style: ridge;
   color:white;
   border-width: 10;
   border-color: darkviolet;
}

